
	<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date, class:'font-weight-bold' %>
    <br/>
    <%= form.text_field :date, class:'text-center w-50'%>
  </div>

  <div class="field">
    <%= form.label :title,class:'font-weight-bold' %>
    <br/>
    <%= form.text_field :title, class:'text-center w-50' %>
  </div>

  <div class="field">
    <%= form.label :description,class:'font-weight-bold' %>
    <br/>
    <%= form.text_area :description, class:'text-center w-50' %>
  </div>

  <div class="field">
    <%= form.label :location,class:'font-weight-bold' %>
    <br/>
    <%= form.text_field :location, class:'text-center w-50' %>
  </div>

  <div class="field">
    <%= form.label :latitude,class:'font-weight-bold' %>
    <br/>
    <%= form.text_field :latitude, class:'text-center w-50' %>
  </div>

  <div class="field">
    <%= form.label :longitude,class:'font-weight-bold' %>
    <br/>
    <%= form.text_field :longitude, class:'text-center w-50' %>
  </div>

  <div class="field">
    <%= form.label :imgURL,class:'font-weight-bold' %>
    <br/>
    <%= form.text_area :imgURL, class:'text-center w-50' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>