
<div class="container">

	<p id="notice" style="width: 50rem; margin: 0 auto"><%= notice %></p>

	<div class="jumbotron" style="width: 50rem; margin: 0 auto">
		 <img class="card-img-top" src=<%= @event.imgURL %> >

	  <h1 class="display-4"><%= @event.title %></h1>
	  <p class="lead"><%= @event.date %></p>
	  <p class="lead">Kallang Stadium</p>
	  <hr class="my-4">
	  <p><%= @event.description %></p>
	  <p>Hosted By: <%= @event.user_id %></p>

		<% if user_signed_in? && current_user.id == @event.user.id %>

		<%= link_to 'Edit', edit_event_path(@event), class: "btn btn-primary btn-lg" %>

		<%= link_to 'Back', events_path, class: "btn btn-primary btn-lg" %>

		<% end %>





</div>